/*------------------------------------------------------------------- /

Theme Name: Remix 
Theme URI: http://www.helloacademy.co/
Author: Hello
Author URI: http://www.helloacademy.co/
Description: Remix is a HTML Template
Version: 1.0

--------------------------------------------------------------------- */



/*  - Goolge fonts loading
-------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

/*  - Goolge fonts loading end
-------------------------------------------------------------------------*/


/*  - Global Area 
-------------------------------------------------------------------------*/

body {
  	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	color: #676767;
	background-color: #ffffff;
	line-height: 25px;
}

button,img,a,p,h4,li,em,.icon,.btn,.form-control {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
h1,h2,h3,h4,h5 {
	text-transform: uppercase;
	font-weight: 700;
}
.post-img img {
    /*width: 100%;*/
}
/*  - Reset
---------------------------------------*/
ul,hr {
	padding: 0;
	margin:0;
}
hr {
	border-top: 1px solid #e0e0e0;
}
h3 {
	font-size: 2.1428em;
}
h4 {
	font-size: 1.2857em;
}
/*  - Flat Icon
---------------------------------------*/
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after {
        font-family: Flaticon;
        font-style: normal;
}
.flaticon-audience1:before {
	content: "\e000";
}
.flaticon-book140:before {
	content: "\e001";
}
.flaticon-business112:before {
	content: "\e002";
}
.flaticon-computer261:before {
	content: "\e003";
}
.flaticon-customerservice10:before {
	content: "\e004";
}
.flaticon-delivery13:before {
	content: "\e005";
}
.flaticon-homework:before {
	content: "\e006";
}
.flaticon-internet17:before {
	content: "\e007";
}
.flaticon-light102:before {
	content: "\e008";
}
.flaticon-money132:before {
	content: "\e009";
}
.flaticon-musicplayer7:before {
	content: "\e00a";
}
.flaticon-person236:before {
	content: "\e00b";
}
.flaticon-responsive16:before {
	content: "\e00c";
}
.flaticon-responsive8:before {
	content: "\e00d";
}
.flaticon-seo40:before {
	content: "\e00e";
}
.flaticon-smartphone85:before {
	content: "\e00f";
}
.flaticon-tools6:before {
	content: "\e010";
}
.flaticon-two205:before {
	content: "\e011";
}
.flaticon-web-programming:before {
	content: "\e012";
}
.flaticon-zoom10:before {
	content: "\e013";
}
/*  - Flat Icon End
---------------------------------------*/
.form-control {
	border-radius: 0;
	box-shadow: none;
}
.form-control:focus {
	border-color: #fd8224;
	box-shadow: none;
}
.dark-bg {
	background-color: #f3f3f4;
}
/*  - Reset end 
---------------------------------------*/


/*  - Scroll To Top
---------------------------------------*/
.footer-container .triangle {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #fd8224;
}
.scrollup {
    position: absolute;
    top: -42px;
    left: 50%;
    width: 50px;
    height: 42px;
    padding: 5px;
    margin-left: -25px;
    color: #ffffff;
    font-size: 1.6em;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    z-index: 9999;
    display: block;
}
/*  - Scroll To Top End
---------------------------------------*/


/*  - Custom btn Style
---------------------------------------*/
.link {
	text-align: center;
}
.btn {
	border-radius: 0;
}
.btn-default {
	color: #676767;
	font-weight: 700;
	text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #fd8224;
    padding: 12px 25px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default.focus, 
.btn-default:active, 
.btn-default.active, 
.open>.dropdown-toggle.btn-default {
	color: #ffffff;
    background-color: transparent;
    border-color: #fd8224;
}
.btn-default:before,
.btn-default:after {
	content: '';
    position: absolute;
    width: 90%;
    height: 200%;
    background-color: #fd8224;
    z-index: -1;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
    	-ms-transform: rotate(-45deg);
    	 -o-transform: rotate(-45deg);
    		transform: rotate(-45deg);

    -webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
.btn-default:before {
    top: -94%;
    left: -75%;
}
.btn-default:after {
    top: -2%;
    right: -74%;
}
.btn-default:hover:before {
    top: -95%;
    left: -20%;
}
.btn-default:hover:after {
    top: -2%;
    right: -20%;
}
/*  - Custom btn Style
---------------------------------------*/


/*  - Octagon
---------------------------------------*/

.octagon {
	width: 100px;
	height: 100px;
	background: red;
	position: relative;
}

.octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

.octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}
/*  - Octagon
---------------------------------------*/




/*  - Default Style
---------------------------------------*/
.section-padding {
	padding-top: 80px;
	padding-bottom: 70px;
	overflow: hidden;
}
.section-head {
	text-align: center;
	padding-bottom: 40px;
}
.section-title {
	color: #181818;
    font-size: 2.5714em;
    font-weight: 900;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    padding: 20px 30px;
    position: relative;
}
.section-title:before,
.section-title:after {
	content: '';
	position: absolute;
	width: 20%;
	height: 50%;
}
.section-title:after {
	top: 0;
	right: 0;
	border-top: 3px solid #c7c6c6;
	border-right: 3px solid #c7c6c6;
}
.section-title:before {
	left: 0;
	bottom: 0;
	border-left: 3px solid #c7c6c6;
	border-bottom: 3px solid #c7c6c6;
}
.section-description {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 30px;
}
.icon {
	height: 40px;
	width: 40px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	line-height: 40px;
}
.item-md3 {
	max-width: 292px;
	margin: 0 auto 30px auto;
}
.item-md4 {
	max-width: 370px;
	margin: 0 auto 30px auto;
}
.overlay {
	background: rgba(255, 255, 255, 0.8);
	height: 100%;
	width: 100%;
}
section:hover .section-title {
	color: #fd8224;
}
section:hover .section-title:before,
section:hover .section-title:after {
	width: 100%;
	height: 100%;
}
section:hover .section-title:after {
	border-top: 3px solid #fd8224;
	border-right: 3px solid #fd8224;
}
section:hover .section-title:before {
	border-left: 3px solid #fd8224;
	border-bottom: 3px solid #fd8224;
}
.section-title:before,
.section-title:after,
.section-title {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
/*  - Social Media btn
---------------------------------------*/

/*  - Social Media btn end 
---------------------------------------*/

/*  - Default Style End
---------------------------------------*/


/*  3 - Main Menu 
-------------------------------------------------------------------------*/

.main-menu-container {
	min-height: 88px;
}
.menu-bg-overlay {
	background-color: rgb(238, 242, 245);
}
.main-menu {
	z-index: 999;
}
.navbar-default .navbar-brand {
	color: #fd8224;
	font-weight: 700;
}
.main-menu .navbar>.container .navbar-brand, 
.main-menu .navbar>.container-fluid .navbar-brand {
	padding-top: 15px;
}
.main-menu nav li a {
	font-weight: 600 !important;
}
.main-menu nav > li > a:hover {
	color: #fd8224 !important;
}
.main-menu .sm-blue a {
	font-family: 'Raleway', sans-serif;
}
.main-menu .nav>li>a {
	color: #000000;
	position: relative;
	padding: 30px 40px;
}
.main-menu .nav>li>a i {
	font-size: 2em;
}
.main-menu .nav>li>a span {
	position: absolute;
	top: 50%;
    left: 70px;
    margin-top: -10px;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
    	-ms-transform: scale(0);
    	 -o-transform: scale(0);
    	 	transform: scale(0);

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
    	-ms-transition: all .25s ease;
    	 -o-transition: all .25s ease;
    		transition: all .25s ease;
}
.main-menu .nav>li>a:hover span {
	-webkit-transform: scale(1);
       -moz-transform: scale(1);
    	-ms-transform: scale(1);
    	 -o-transform: scale(1);
    	 	transform: scale(1);
}
.main-menu .navbar-default .navbar-nav>li>a {
	color: #585858;
}
.main-menu .navbar-default .navbar-nav>li>a:hover, 
.main-menu .navbar-default .navbar-nav>li>a:focus {
	color: #fd8224 !important;
}
.main-menu .sm-blue a:hover, 
.main-menu .sm-blue a:focus, 
.main-menu .sm-blue a:active, 
.main-menu .sm-blue a.highlighted {
	background-image: none;
}
.main-menu .navbar-default .navbar-nav>.active>a, 
.main-menu .navbar-default .navbar-nav>.active>a:hover, 
.main-menu .navbar-default .navbar-nav>.active>a:focus {
	color: #fd8224;
	background-color: transparent;
}
.main-menu .navbar-default .navbar-nav>.open>a, 
.main-menu .navbar-default .navbar-nav>.open>a:hover, 
.main-menu .navbar-default .navbar-nav>.open>a:focus {
	color: #fd8224 !important;
	background-color: transparent;
}
.main-menu .sm-blue li a {
	font-size: 0.9375em;
	text-transform: uppercase;
	border-left: 0;
	border-right: 0;
}
.main-menu .navbar {
	margin-bottom: 0; 
}
.main-menu .navbar-default {
	background: none;
	border: 0;
}
.main-menu .navbar-fixed-top {
	background-color: #ffffff;
}
.main-menu .dropdown-menu>li>a {
	color: #585858;
	text-transform: none;
	padding: 10px 20px !important;
	border-top: 1px solid #eceef0;
}
.main-menu .dropdown-menu>li:first-child a {
	border-top: none;
}
.main-menu ul.sm li:last-child a {
	padding-right: 0;
}
.main-menu .navbar-nav .sub-arrow:after, 
.main-menu .navbar-nav .collapsible .sub-arrow:after {
	position: absolute;
	top: 24px;
	right: 7px;
	width: 20px;
	height: 20px;
	content: "\f103";
	display: block;
	font: normal normal normal 16px/1 FontAwesome;
	border-radius: 100%;
	text-align: center;
	line-height: 20px;
}
.main-menu .navbar-nav ul .sub-arrow:after {
	position: absolute;
	top: 11px;
	right: 5px;
	width: 20px;
	height: 20px;
	content: "\f101";
	display: block;
	font: normal normal normal 16px/1 FontAwesome;
	border-radius: 100%;
	text-align: center;
	line-height: 17px;
}
.main-menu .dropdown > .dropdown-menu {
	border: none;
	border-top: 3px solid #fd8224;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.3);
}
.main-menu .dropdown-menu {
	border-radius: 0;
}
.main-menu .navbar-right .dropdown-menu {
	top: 100% !important;
	display: none;
}
.main-menu .dropdown > .dropdown-menu:before {
	position: absolute;
	top: -10px;
	left: 20px;
	content: '';
	border-right: 10px dashed transparent;
	border-bottom: 10px solid #fd8224;
	border-left: 10px dashed transparent;
	display: inline-block;
	margin-left: -5px;
	z-index: 1;
}
.main-menu .dropdown-menu>li>a:hover .navbar-nav ul .sub-arrow:after, 
.main-menu .dropdown-menu>li>a:focus .navbar-nav ul .sub-arrow:after { 
	color: #ffffff;
}
.main-menu .nav .open>a, 
.main-menu .nav .open>a:hover, 
.main-menu .nav .open>a:focus {
	color: #ffffff !important;
	background-color: #fd8224;
	border-color: #eceef0;
}
.main-menu .dropdown-menu>li>a:hover, 
.main-menu .dropdown-menu>li>a:focus {
	color: #ffffff;
	background-color: #fd8224;
	box-shadow: 0 0 9px rgba(0,0,0.9);
} 
.main-menu .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.main-menu .navbar-default .navbar-toggle .icon-bar {
	background-color: #fd8224;
}
.main-menu .navbar-default .navbar-toggle:hover {
	color: #ffffff;
	background-color: #fd8224;
}
.main-menu .navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #ffffff;
} 
.navbar-default .navbar-toggle {
	border-color: #fd8224;
}

/*  3 - Main Menu End
-------------------------------------------------------------------------*/

/*   - Slider Section 
-------------------------------------------------------------------------*/

.slider-container {
	background: url(../../images/bg/slider.jpg);
	background-size: cover;
	overflow: hidden;
}
.slider-txt {
	padding-top: 250px;
    padding-bottom: 215px;
}
.slider-txt .title {
	color: #fd8224;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
}
.slider-txt .sub-title {
 	color: #fd8224;
 	font-weight: 700;
 	text-transform: uppercase;
}
p.description {
  	color: #1e1e1e;
  	max-width: 775px;
  	padding: 20px 0 20px;
}
/*  Slider Iamge
---------------------------------------*/
.slider-images {
    position: relative;
}
.small-img {
    position: absolute;
    top: 105px;
}
span.flaticon-light102 {
	color: #fd8224;
    position: absolute;
    top: 53px;
    left: 74px;
    font-size: 5em;
}
.big-img1,
.big-img2,
.big-img3,
.big-img4 {
    position: absolute;
    left: 0;
}
.big-img1 {
	top: 80px;
	left: -100px;
}
.big-img2 {
	top: 200px;
	left: -35px;
}
.big-img3 {
	top: 260px;
    left: -200px;
}
.big-img4 {
	top: 70px;
}
/*  Slider Iamge End
---------------------------------------*/

/*  Carousel Control 
---------------------------------------*/
.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
#main-slider .carousel-indicators {
	bottom: 20px;
}
.carousel-indicators .active,
.carousel-indicators li {
	width: 10px;
	height: 10px;
	margin: 2px;
	background-color: #fff;
	border: none;
}
.carousel-indicators li {
	background-color: #575757;
}
.carousel-indicators .active {
	background-color: #fd8224;
}
.slide-arow {
	color: #4e4f4f;
	background-color: #d1d3d3;
	border-radius: 3px;
	display: inline-block;
	padding: 5px 13px;
}
.slide-arow {
	font-size: 6em;
	color: #FFF;
	height: 30px;
	width: 30px;
	padding: 0;
	position: absolute;
	top: 50%;
	background-color:transparent; 
}
.slide-arow span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-left: 5px solid #fd8224;
	border-top: 5px solid #fd8224;
}
.slide-arow.left {
	left: 15px;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
		    transform: rotate(-45deg);
}
.slide-arow.right {
	right: 10px;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
	    	transform: rotate(135deg);
}
.slide-arow.right,
.slide-arow.left,
.slide-arow span {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
		    transition: all .25s ease;
}
.slide-arow em,
.slide-arow em {
    position: absolute;
    background-color: #e7e7e7;
    height: 110px;
    width: 110px;
}
.slide-arow.left em {
	left: -50%;
    top: -50%;
    margin-left: -50px;
    margin-top: -50px;
}
.slide-arow.right em {
	left: -50%;
    top: -50%;
    margin-left: -50px;
    margin-top: -50px;
}
/*  - hover area
---------------------------------*/
.slider-container .slide-arow:hover em {
	background-color: #fd8224;
}
.slider-container .slide-arow:hover span {
	border-left: 5px solid #ffffff;
	border-top: 5px solid #ffffff;
}
/*   - Slider Section End
-------------------------------------------------------------------------*/





/*   - About Section 
-------------------------------------------------------------------------*/
.about-section h3 {
	color: #323232;
}
.about-section .icon {
	color: #181818;
	font-size: 2em;
	float: left;
	margin-right: 15px;
	border: none;
}
p.item-description {
	margin-bottom: 25px;
}
.item-info {
    display: block;
    overflow: hidden;
}
.item-info a {
	color: #323232;
	font-size: 1.2857em;
	font-weight: 700;
	text-decoration: none;
}
.about-section .item-md4.main-blog:hover .item-title a,
.about-section .inner-item:hover .item-info a,
.about-section .inner-item:hover .icon {
	color: #fd8224;
}
.about-section .item-md4 .post-img {
	margin-bottom: 15px;
}
.about-section .btn-default {
	margin-top: 15px;
}
.about-section .item-info a,
.about-section .icon {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
		    transition: all .25s ease;
}
/*   - About Section End
-------------------------------------------------------------------------*/


/* 9 - Portfolio Mesonary
---------------------------------------------------------------------- */
#portfolio-container {
	max-width: 1445px;
	margin: 0 auto 0 auto;
}
.portfolio-work .section-head {
	padding-top: 80px;
	padding-bottom: 15px;
}
.portfolio-item {
    margin-bottom: 50px;
}
.portfolio-item figure {
	background: #17A781;
	float: left;
	margin: 0 2px 10px;
	overflow: hidden;
	height: 330px;
	width: 30%;
}
.portfolio-item figure img {
	width: 100%;
	height: auto;
	vertical-align: middle;

}
.portfolio-item a {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
		    transition: all .3s ease;
}
.portfolio-item figure img{
	border: transparent;
	-webkit-transition: -webkit-transform .3s  ease;
	   -moz-transition: -moz-transform .3s  ease;
		-ms-transition: -ms-transform .3s  ease;
		 -o-transition: -o-transform .3s  ease;
			transition: transform .3s  ease;
}
.portfolio-item .item-w2 {
	background: #ED9393;
	width: 60%;
}
.portfolio-item .item-h2 {
	background: #7CB744;
	height: 618px;
}
.portfolio-item .item-h3 {
	background: #38B5E5;
}
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	   -moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		 -o-transition-duration: 0.8s;
			transition-duration: 0.8s;

	-webkit-transition-property: -webkit-transform, opacity;
	   -moz-transition-property: -moz-transform, opacity;
		-ms-transition-property: -ms-transform, opacity;
		 -o-transition-property: -o-transform, opacity;
			transition-property: transform, opacity;
}
.portfolioFilter{
	clear: both;
	margin:auto;
	padding: 0 0 40px 0;
	text-align: center;
	width: auto;
}
.portfolioFilter a {
	color: #676767;
	font-weight: 700;
	position: relative;
	border: 3px solid #ebebeb;
	display: inline-block;
	margin: 0 5px;
	padding: 8px 30px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	margin-top: 30px;
}
.portfolioFilter a:focus,
.portfolioFilter a:hover,
.portfolioFilter .current{
	color: #fd8224;
	border-color: #fd8224;
	text-decoration: none;	
}
.portfolio-item figure{
	position: relative;
}
.portfolioFilter a,
.portfolio-item figure:after {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}

/*  - Hover Effects
----------------------------------------------*/
figure .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgba(253, 130, 36, 0.8);
}
figure .expand {
	color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
}
.item .expand-info {
	margin-top: 16%;
}
.item.item-w2 .expand-info {
    margin-top: 8%;
}
.item.item-h2 .expand-info {
    margin-top: 67%;
}
figure .expand-info h3 {
	display: table;
	margin: 0 auto;
	position: relative;
	-webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
figure .expand-info p {
	max-width: 280px;
	margin: 15px auto;
	line-height: 20px;
	-webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.portfolio-item .expand a {
	color: #ffffff;
	text-decoration: none;
}
.portfolio-item .expand h3 a {
	padding-bottom: 10px;
	display: block;
}
.portfolio-item .expand a.boxer {
	font-size: 1.6em;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
figure .expand-info h3:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
}

/*  Hover Effects
-------------------------------------------*/
figure:hover .expand a.boxer,
figure:hover .expand-info h3,
figure:hover .expand-info p {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
figure:hover img {
	-webkit-transform: scale(1.1,1.1);
       -moz-transform: scale(1.1,1.1);
    	 -o-transform: scale(1.1,1.1);
    	-ms-transform: scale(1.1,1.1);
    		transform: scale(1.1,1.1);
}

figure:hover .overlay,
figure:hover .expand {
	opacity: 1;
}
figure .overlay,
figure .expand {
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		 -o-transition: all .5s ease;
			transition: all .5s ease;
}
.portfolio-work .link {
	margin-bottom: 50px;
}
/* - Portfolio Mesonary End
---------------------------------------------------------------------- */



/* - Add Section
---------------------------------------------------------------------- */
.add-section {
	background-image: url(../../images/bg/add.jpg);
	background-size: cover;
	background-position: 50% 75%;
}
.add-section .overlay {
	background-color: rgba(1, 1, 1, 0.74);
}
.add-section h2 {
	color: #fd8224;
	font-size: 2.5714em;
}
.add-section p.section-description {
	color: #ffffff;
	padding-top: 10px;
}
.add-section .link {
	margin-top: 45px;
}
.add-section .link .btn-default {
	color: #ffffff;
}
/* - Add Section End
---------------------------------------------------------------------- */



/* - Our Services
---------------------------------------------------------------------- */
.section-content {
	margin-top: 50px;
}
.service-section .icon {
	width: auto;
	height: auto;
	font-size: 4em;
}
.service-section h4 {
	margin: 5px 0 5px 0;
}
.service-section .item-md3:hover .icon {
	color: #fd8224;
}
.service-section .item-md3:hover .item-title a,
.service-section .item-md3:hover .item-info a,
.service-section .item-md3:hover .icon {
	color: #fd8224;
}
/* - Our Services End
---------------------------------------------------------------------- */


/*  - Team Section
-------------------------------------------------------------------------*/
.team-img {
	position: relative;
	margin: 0 auto;
}
.team-img img {
	width: 100%;
	height: auto;
}
h4.name.item-title {
    margin-bottom: 5px;
}
.name {
	padding-top: 15px;
}
.name a {
	color: #585858;
	font-size: 1.2857em;
	font-weight: 800;
	text-decoration: none;
}
.designation {
	font-weight: 700;
	margin-bottom: 10px;
}
.team-img .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(253, 130, 36, 0.9);

	-webkit-transform: scale(0) rotate(0deg) translate(0px);
	   -moz-transform: scale(0) rotate(0deg) translate(0px);
		-ms-transform: scale(0) rotate(0deg) translate(0px);
		 -o-transform: scale(0) rotate(0deg) translate(0px);
			transform: scale(0) rotate(0deg) translate(0px);

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
		    transition: all .25s ease;
}
.social-icon {
  	position: absolute;
    left: 0;
    bottom: 50px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.social-icon a {
	color: #ffffff;
	font-size: 1.2857em;
	padding: 5px;
}
.team-section .social-icon a {
	opacity: 0;
	-webkit-transform: rotate(420deg) translateY(-100px);
	   -moz-transform: rotate(420deg) translateY(-100px);
		-ms-transform: rotate(420deg) translateY(-100px);
		 -o-transform: rotate(420deg) translateY(-100px);
			transform: rotate(420deg) translateY(-100px);
}
.team-section .item-md3:hover .designation,
.team-section .item-md3:hover .name a {
	color: #fd8224;
}
.designation {
	-webkit-transition: all .25s  ease;
	   -moz-transition: all .25s  ease;
		-ms-transition: all .25s  ease;
		 -o-transition: all .25s  ease;
			transition: all .25s  ease;
}
.team-section .item-md3:hover .overlay {

	-webkit-transform: scale(1,0.86) rotate(90deg) translate(0px);
	   -moz-transform: scale(1,0.86) rotate(90deg) translate(0px);
		-ms-transform: scale(1,0.86) rotate(90deg) translate(0px);
		 -o-transform: scale(1,0.86) rotate(90deg) translate(0px);
			transform: scale(1,0.86) rotate(90deg) translate(0px);
}
.team-section .item-md3:hover .social-icon a {
	opacity: 1;
	-webkit-transform: rotate(0deg) translate(0px);

	-webkit-transition: all 1.3s .6s ease;
	   -moz-transition: all 1.3s .6s ease;
	    -ms-transition: all 1.3s .6s ease;
	     -o-transition: all 1.3s .6s ease;
		    transition: all 1.3s .6s ease;
}
/*  - Team Section End 
-------------------------------------------------------------------------*/



/*  - Pricing Section
-------------------------------------------------------------------------*/
.pricing-section .item-md3 {
	border: 3px solid #e1e1e1;
}
.item-head {
	color: #ffffff;
	padding: 17px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.item-head h4.title {
	color: #323232;
	margin-top: 0;
    margin-bottom: 15px;
}
.currency-price-time {
	background-color: #323232;
	padding: 25px 0;
	position: relative;
}
.currency-price-time:after {
	content: '';
	position: absolute;
	top: 0;
	left: -2px;
	bottom: 0;
	right: -2px;
	border-left: 3px solid #323232;
	border-right: 3px solid #323232;
}
span.currency,
span.number {
	font-size: 3.4285em;
	font-weight: 700;
}
.item-head sub {
    bottom: 0;
}
.item-head sup {
    top: -1.3em;
    font-size: 15px;
}
.item-list {
	padding-top: 20px;
	padding-bottom: 20px;
}
.item-list ul {
	list-style: none;
	padding-left: 40px;
}
.item-list ul li {
	padding: 5px;
	position: relative;
}
.item-list ul.list1 {
	color: #656565;
}
.item-list ul.list2 {
	color: #adacac;
}
.item-list ul.list1 li:before,
.item-list ul.list2 li:before {
	position: absolute;
	top: 10px;
	left: -15px;
	font: normal 14px FontAwesome; 
}
.item-list ul.list1 li:before {
	content: "\f00c";
}
.item-list ul.list2 li:before {
	content: "\f00d";
}
.pricing-section .link {
	margin-bottom: 30px;
}
.pricing-section .item-md3:hover {
	border-color: #fd8224;
}
.pricing-section .btn-default {
	padding: 12px 37px;
}
/*  - Hover Area
---------------------------------*/
.pricing-section .item-md3:hover .item-list ul.list1 li:before,
.pricing-section .item-md3:hover .item-head h4.title {
	color: #fd8224;
}
.pricing-section .item-md3:hover .currency-price-time {
	background-color: #fd8224;
}
.pricing-section .item-md3:hover .currency-price-time:after {
	border-left: 3px solid #fd8224;
	border-right: 3px solid #fd8224;
}
.item-list ul.list1 li:before,
.currency-price-time:after,
.pricing-section .item-md3,
.currency-price-time,
.item-head h4.title {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
/*  - Pricing Section End 
-------------------------------------------------------------------------*/




/*  - Work Section
-------------------------------------------------------------------------*/
.work-section .section-head {
	text-align: left;
}
.work-section .section-description,
.work-section .section-title {
	margin: 0;
}
.work-section .inner-item {
	text-align: center;
	border: 1px solid #ebebeb;
	margin-bottom: 30px;
	padding: 30px 15px;
}
.work-section .icon {
	color: #181818;
	font-size: 3em;
}
.work-section .item-info a {
	color: #181818;
}
.work-section .inner-item:hover {
	border-color: #fd8224;
}
.work-section .inner-item:hover .item-info a,
.work-section .inner-item:hover .icon {
	color: #fd8224;
}
.work-section h5.item-title .item-info a,
.work-section .inner-item,
h5.entry-title a,
.entry-meta a,
.date {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
/*  - Work Section End 
-------------------------------------------------------------------------*/


/*  - Blog Section
-------------------------------------------------------------------------*/
.item-md4-head {
	margin-bottom: 15px;
}
.date {
	color: #ffffff;
	font-weight: 700;
    width: 55px;
    float: left;
    background-color: #323232;
    padding: 10px 0 40px 0;
    margin-right: 20px;
    position: relative;
    margin-top: 6px;
}
.date:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-left: 28px solid transparent;
    border-bottom: 30px solid #ffffff;
    border-right: 28px solid transparent;
}
.date span {
	font-size: 1.6914em;
	display: block;
}
h5.entry-title {
    display: block;
    overflow: hidden;
    text-transform: none;
    font-size: 24px;
}
.item-md4 h5.entry-title {
	padding-top: 3px;
}
h5.entry-title a {
	color: #323232;
	text-decoration: none; 
}
.entry-meta a {
	color: #aba8a8;
	text-decoration: none;
}
.item-md4 p.entry-meta {
	margin-top: 10px;
}
.entry-meta span {
	color: #aba8a8;
	padding: 0 5px;
}
.thumbnail-img {
    margin-top: 50px;
    margin-bottom: 30px;
}
.thumbnail-img img {
	width: 100%;
}
.blog-section .link {
	text-align: left;
	margin-top: 30px;
}
/*  - Hover Area
-----------------------------------*/
.blog-section .item-md4:hover h5.entry-title a,
.entry-meta a:hover {
	color: #fd8224;
}
.blog-section .item-md4:hover .date {
	background-color: #fd8224;
}
/*  - Blog Section End 
-------------------------------------------------------------------------*/




/*   - Video Section
-------------------------------------------------------------------------*/
.video-section {
	background: url(../../images/bg/video-bg.jpg) fixed;
	background-size: cover;
}
.video-section .overlay {
	background-color: rgba(24, 24, 24, 0.75);
}
em.flaticon-musicplayer7 {
    font-size: 5em;
    color: #fff;
}
.video-section .section-padding {
	padding-top: 150px;
	padding-bottom: 150px;
}
.video-section a {
	position: relative;
	display: inline-block;
	border-radius: 100%;
	z-index: 0;
}
.video-section a:active, 
.video-section a:hover {
	text-decoration: none;
}
.video-section a img {
	z-index: 999;
}
/*   - Video Section End
-------------------------------------------------------------------------*/


/*  - Clients
-------------------------------------------------------------------------*/

.reviewer-img {
	height: 90px;
	width: 90px;
	float: left;
	border-radius: 100%;
	margin-right: 25px;
	border: 4px solid #d7d7d7;
}
.reviewer-img img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.ss-text {
	display: block;
	overflow: hidden;
}
.ss-text a.name {
	color: #0e0c0c;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}
.ss-text a.designation {
	color: #828080;
	display: block;
	font-weight: normal;
	text-decoration: none;
}
.ss-text a.name:hover {
	color: #fd8224;
}
#client-slider .carousel-indicators {
	bottom: -20px;
    text-align: right;
}
.client-section .angle-line:after {
	
}
/*  - Clients logo
---------------------------------------------*/
.client-wrap {
	position: relative;
    padding-left: 40px;
    display: inline-block;
}
.client-wrap:after {
	content: '';
    position: absolute;
    top: -12px;
    left: -1px;
    height: 85%;
    width: 1px;
    background-color: #e2dede;
    -webkit-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
    	-ms-transform: rotate(25deg);
    	 -o-transform: rotate(25deg);
    		transform: rotate(25deg);
}
.single-client {
    max-width: 195px;
    height: 95px;
    margin-bottom: 30px;
}
/*  - Clients end 
-------------------------------------------------------------------------*/



/*  - Footer Section 
-------------------------------------------------------------------------*/
.footer-container {
	color: #d6d6d6;
	background-color: #323232;
	position: relative;
}
.footer-widget {
	padding: 40px 0 10px 0;
	display: inline-block;
}
.footer-container .widget {
	margin-bottom: 30px;
}
h2.rounded {
	color: #ffffff;
    font-size: 1.7142em;
    margin-bottom: 25px;
}

/*  - About Widget
----------------------------------*/
.contact-info li {
    list-style: none;
    position: relative;
    padding-left: 25px;
    padding-bottom: 10px;
}
.contact-info li:before {
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
/*  - About Widget End
----------------------------------*/

/*  - My Account
----------------------------------*/
ul.list-item {
	list-style: none;
}
ul.list-item li {
	position: relative;
	padding: 0 0 5px 20px;
}
ul.list-item li:after {
	content: '\f105';
	position: absolute;
	top: 4px;
	left: 0;
	font: normal normal normal 18px FontAwesome;
}
ul.list-item a {
	color: #d6d6d6;
	text-decoration: none;
}
ul.list-item li:hover:after,
ul.list-item a:hover {
	color: #fd8224;
}
ul.list-item li:after,
ul.list-item a {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
/*  - My Account End
----------------------------------*/

/*  - Copyright Footer
----------------------------------*/
.copywright-footer {
	width: 100%;
	display: block;
	background-color: #ffffff;
	padding: 30px 0;
}
.copywright-footer p {
	margin: 0;
}
.copywright-footer p a {
	color: #ff7918;
}
/*  - Copyright Footer End
----------------------------------*/

/*  - Footer Section End
-------------------------------------------------------------------------*/


























/*  - Blog Page
-------------------------------------------------------------------------*/
.menu-height-fix {
	height: 88px;
}

/*  - section head
----------------------------------*/
.head-wrap {
	color: #000000;
	text-transform: uppercase;
	background: url(../../images/bg/blog-head.jpg) no-repeat; 
	background-position: 50% 70%;
	background-size: cover;
}
.head-wrap .overlay {
	/*background-image: url(../../images/pattern.jpg);*/
}
.head-wrap .section-padding {
	padding-top: 80px;
	padding-bottom: 90px;
}
.head-wrap h1 {
	font-size: 3.4285em;
	font-weight: 800;
}
.head-wrap p {
	margin: 0 auto;
	font-weight: 900;
	text-align: left;
} 
.head-wrap p span {
	color: #fd8224;
}
/*  - section head End
----------------------------------*/


/*  - post-container
----------------------------------------------------*/
.post-container {
	padding-top: 100px;
	padding-bottom: 50px;
	overflow: hidden;
}

/*  - Single Post
----------------------------------*/
.single-post h5.entry-title {
	text-transform: uppercase;
	line-height: 35px;
}
.single-post {
	margin-bottom: 50px;
}
.single-post .entry-meta {
    font-style: italic;
    font-size: 1.2857em;
}
.single-post .item-md4-head {
	margin-bottom: 30px;
}
.single-post .entry-content {
	margin-top: 30px;
}
.single-post .link {
	text-align: left;
	margin-top: 30px;
}
/*  - Single Post End
----------------------------------*/

/*  - Pagination
---------------------------------*/
.pagination-list {
	padding-bottom: 50px;
}
.pagination {
	height: 36px;
	margin: 0;
}
.pagination ul {
	padding-left: 0;
}
.pagination li {
	display: inline-block;
}
.pagination a {
	color: #ffffff;
	background-color: #8e8f8f;
	float: left;
	padding: 3px 14px 2px 14px;
	margin-right: 3px;
	line-height: 35px;
	text-decoration: none;
}
.pagination a:hover,
.pagination .active a {
	background-color: #fd8224;
}
.pagination .active a {
	color: #ffffff;
	cursor: default;
}
.pagination a.angle-left,
.pagination a.angle-right  {
	font-size: 1.4em;
}
/*  - Pagination End
---------------------------------*/
/*  - post-container End
----------------------------------------------------*/


/*  - Sidebar
----------------------------------------------------*/
.sidebar {
	padding-top: 112px;
	padding-left: 30px;
}
.sidebar ul {
	list-style: none;
}
.sidebar .widget {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
}
.single-post h2.rounded,
.sidebar h2.rounded {
	color: #323232;
    font-size: 1.7142em;
    display: table;
    position: relative;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 25px;
}
.post-comments-area .sub-title {
	color: #000000;
	font-weight: 700;
  	padding-bottom: 10px;
  	margin-top: 0;
}
.single-post h2.rounded:after,
.sidebar h2.rounded:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #eae8e8;
	width: 100%;
	height: 4px;
}
.post-comments-area .sub-title:after {
	content: '';
	position: absolute;
	left: -31px;
	bottom: 6px;
	background-color: #363636;
	width: 6px;
	height: 35px;
}
.blog-search-bar {
	margin-bottom: 40px;
}
/*  - Blog Search 
---------------------------------*/

.blog-search-bar .form-control {
	font-size: 1em;
	height: 44px;
	padding-right: 40px;
}
.input-append {
	position: relative;
}
.input-append:after {
	content: '';
    position: absolute;
    top: 5px;
    right: 40px;
    width: 1px;
    height: 35px;
    background-color: #a69f9f;

}
.add-on {
	top: 0;
	right: 0;
	position: absolute;
	width: 40px;
	height: 100%;
	border: none;
	background: none;
}
button, html input[type=button], 
input[type=reset], 
input[type=submit] {
	outline: none;
}

/*  - Blog Search End
---------------------------------*/

/*  - Blog Categories 
---------------------------------*/

.blog-categories ul {
	list-style: none;
}
.cat-list li {
	border-bottom: 1px dashed #d9d9d9;
}
.cat-list li a {
	color: #737d8b;
	font-size: 1.2857em;
	padding: 8px 0 10px 0;
	display: block;
	text-decoration: none;
}
.cat-list li:last-child {
	border-bottom: none;
}
.cat-list li a:hover {
	color: #36d7b7;
	padding-left: 15px;
}
/*  - Blog Categories End 
---------------------------------*/

/*  - Latest Post 
---------------------------------*/
.widget .post-img {
	width: 80px;
	float: left;
	margin-right: 15px;
}
.sidebar .widget .post-details, .latest-post .post-details {
	display: block;
	overflow: hidden;
}
.sidebar .widget .post-details p, .latest-post .post-details p {
  	padding-right: 5px;
  	margin-bottom: 0;
  	line-height: 20px;
}
.sidebar .widget p.entry-meta {
	font-style: italic;
}
.sidebar .widget .post-details p span {
	color: #b3b3b3;
	padding-left: 5px;
}
.single-post .entry-meta a,
.sidebar .widget a {
	color: #b3b3b3;
}
.sidebar .widget .post-details a span:hover,
.auther-message .auther span:hover,
.auther-message .auther a:hover,
.single-post .entry-meta a:hover,
.comments-txt .auther a:hover,
.comments-txt .reply a:hover,
.sidebar .widget a:hover {
	color: #fd8224;
}
.sidebar .message, .latest-post .message {
	width: 100%;
}
.sidebar .message a, .latest-post .message a {
	color: #8e8f8f;
	padding-bottom: 10px;
	display: block;
}
.latest-post .inner-item {
	margin: 0 0 30px 0;
}
.latest-post .inner-item:last-child {
	margin: 0;
}
/*  - Popular Post End 
---------------------------------*/

/*  - Tag Clouds
---------------------------------*/
.tag-list a {
	color: #ffffff !important;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #676767;
	padding: 8px 20px;
	float: left;
	margin: 0 6px 6px 0;
}
.tag-list a:hover {
	background-color: #fd8224;
}
/*  - Tag Clouds End
------------------------------*/


/*  - Sidebar Images Gallery
---------------------------------*/
.sidebar .single-gallery {
	width: 59px;
    height: 59px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: #36d7b7;
}
.sidebar .single-gallery img {
	border-radius: 5px;
}
/*  - Sidebar Images Gallery End
----------------------------------*/
/*  - Sidebar End
----------------------------------------------------*/


/*  - Single Page 
-------------------------------------------------------------------------*/

.share-post span {
	float: left;
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 30px;
}
p.share {
    display: block;
    overflow: hidden;
    text-align: right;
}
p.share a {
	height: 30px;
	color: #ffffff;
	text-align: center;
    display: inline-block;
    position: relative;
    line-height: 30px;
    margin-left: 5px;
}
p.share em.two,
p.share em.one {
	height: 30px;
	float: left;
	font-style: normal;
}
p.share em.one {
	width: 30px;
}
p.share em.two {
	padding: 0 12px;
}
p.share a.facebook em.one {
	background-color: #4765a6;
}
p.share a.facebook em.two {
	background-color: #223b72;
}
p.share a.twitter em.one {
	background-color: #11a8d7;
}
p.share a.twitter em.two {
	background-color: #037ea5;
}
p.share a.google-plus em.one {
	background-color: #cd493a;
}
p.share a.google-plus em.two {
	background-color: #a52d1f;
}
p.share a.pinterest em.one {
	background-color: #c71a1c;
}
p.share a.pinterest em.two {
	background-color: #a80305;
}
p.share a.linkedin em.one {
	background-color: #0064af;
}
p.share a.linkedin em.two {
	background-color: #024c83;
}
p.quote {
    color: #fd8224;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    padding: 0 76px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}
p.quote:before,
p.quote:after {
	position: absolute;
	font: normal normal normal 40px FontAwesome;
}
p.quote:before {
	content: '\f10d';
	top: 0;
	left: 0;
}
p.quote:after {
	content: '\f10e';
	right: 0;
	bottom: 0;
}
/*  - Comments List Styles
------------------------------------------------------*/
.comments {
	color: #676767;
	margin-top: 50px;
}
.comments h2.rounded {
	color: #121315;
}
h3.comments-title {
  	
  	font-weight: 700;
}
li.parent {
    margin-top: 15px;
}
.parent,
.children {
	position: relative;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 20px;
	display: inline-block; 
}
.children:hover .auther-img,
.parent:hover .auther-img {
	border-color: #fd8224;
}
.auther-link,
.message {
  	display: block;
  	overflow: hidden;
}
.form-container input[type="submit"],
.auther-link span,
.auther-link a,
.auther-img,
a.reply {
	color: #323232;
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		 -o-transition: all .25s ease;
			transition: all .25s ease;
}
.auther-link:hover span,
.auther-link:hover a {
	color: #fd8224;
}
.auther-link a {
	padding-right: 15px;
}
a.reply {
	margin-left: 15px;
}
.children {
	margin-left: 115px;
}
.comments ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
.comments .auther-img {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 20px 20px 0;
	overflow: hidden;
	border-radius: 100%;
	border: 5px solid #e1e1e1;
}
.comments .auther-img img {
	height: 100%;
	max-width: 100%;
	border-radius: 100%;
}
/*  - Comments List Styles End
------------------------------------------------------*/

/*  - Contact Section
------------------------------------------------------*/
.form-container {
  	padding-top: 30px;
}
.form-container .form-control {
	height: 45px;
	margin-bottom: 25px;
}
.form-container textarea.form-control {
	height: 150px;
	margin: 30px 0 25px 0;
}
.form-container .form-control:focus {
	box-shadow: none;
}
.form-container input[type="submit"] {
    height: 45px;
    color: #8d8d8d;
    padding: 0 40px;
    border-radius: 0;
    line-height: 12px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #e0e0e0;
    background-color: transparent;
}
.form-container input[type="submit"]:hover {
	color: #ffffff;
	background-color: #fd8224;
	border: 1px solid #fd8224;
}
.logged-in .main-menu{
	margin-top: 20px;
}
.logo-nav {
	height: 70px;
	width: 200px;
}
.aboutImage{
	height: 300px;
	width: 400px;
}
/*  - Contact Section End
------------------------------------------------------*/
/*  - Single Page End
--------------------------------------------------------------*/

/*  - Blog Page End
-------------------------------------------------------------------------*/
